@use "../../../presets" as *;
@use "../../../mixins" as *;

.content {

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__task {
    width: 316px;
    min-height: 37px;
    column-gap: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &--sm {
      width: 300px;
      min-height: 37px;
    }

    &--img:first-child {
      height: 15px;
    }

    &--img {
      width: 14px;
      height: 14px;
    }

    &--description {

      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      max-width: 225px;
      color: $color-white;
      overflow: hidden;
    }

    &--badge {
      width: 36px;
      height: 18px;
      margin-left: 18px;
      margin-top: 6px;
      background-color: rgba(206, 36, 51, 0.5);
      border-radius: 4px;
      padding: 2px 6px;

      font-weight: 500;
      font-size: 10px;
      line-height: 13px;

      color: $color-white;
    }

    &--badge-sec {

      width: 36px;
      height: 18px;
      margin-left: 50px;
      margin-top: 6px;
      background-color: rgba(172, 100, 11, 0.5);
      border-radius: 4px;
      padding: 2px 6px;

      font-weight: 500;
      font-size: 10px;
      line-height: 13px;

      color: $color-white;

    }

    &--badge-third {

      width: 36px;
      height: 18px;
      margin-left: 50px;
      margin-top: 6px;
      background-color: #0c0e12;
      border-radius: 4px;
      padding: 2px 6px;

      font-weight: 500;
      font-size: 10px;
      line-height: 13px;

      color: #8a8181;

    }

    &--progress-bar {}
  }

}