@use "../../../presets" as *;
@use "../../../mixins" as *;

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 8px 8px;
  padding-bottom: 3px;

  &__title {

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    color: $color-accent;
  }

  &__badge {
    width: 44px;
    height: 22px;
    background-color: $color-btn-subtitle;
    color: #8A8181;
    padding: 4px 7px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
  }
}

.subtitle-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 15px 8px;
  padding-bottom: 3px;

  &__title {

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    color: #ddd4d4;
  }

  &__badge {
    width: 44px;
    height: 22px;
    background-color: $color-btn-subtitle;
    color: #8A8181;
    padding: 4px 7px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
  }
}

.subtitle-third {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px 8px;
  padding-bottom: 3px;

  &__title {

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    color: #ddd4d4;
  }

  &__badge {
    width: 44px;
    height: 22px;
    background-color: $color-btn-subtitle;
    color: #8A8181;
    padding: 4px 7px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
  }
}