$color-primary: #000000;
$color-white: #ffffff;
$color-light: #DDD4D4;
$color-dark: #181A1D;
$color-accent: #FF4858;
$color-background-accent: #ff485826;
$color-accent-bottom: rgba(206, 36, 51, 0.5);
$color-dark-gray: #5E5A5A;

$color-background: #1E1E1E;
$color-bg-btn: #2469a6;
$color-btn-subtitle: #0D0D0D;