@use "../presets" as *;
@use "../mixins" as *;

.container {
  width: min(100% - $gap-xl, $container-width);
  margin-inline: auto;


  &__first {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 15px;
    // flex-wrap: wrap;

    @include xl {
      flex-wrap: wrap;
      row-gap: 20px;
    }

  }

  &__second {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 15px;
    // flex-wrap: wrap;

    @include xl {
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  &__third {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
  }
}

.btn {
  border-width: 1px;
  border-style: solid;
  text-align: center;


  &--dark {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 35px;
    height: 35px;
    background-color: $color-background;
    border: 1px solid $color-white;
    border-radius: 20%;
    transition-duration: 1s;
    cursor: pointer;
  }

  &--dark:hover {
    background-color: $color-dark-gray;

  }

  &--card {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: transparent;
    border-radius: 20%;
  }

}

.badge {
  display: inline-block;
  text-align: center;
  border-radius: 0.375rem;


  &__header {
    padding: 4px 7px;
    background-color: $color-bg-btn;

    width: 44px;
    height: 22px;

    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    color: $color-white;
  }

}

.divider {

  width: 100%;
  height: 2px;
  border: transparent;
  background: #545151;
  border-radius: 8px;

}

.sup {

  font-weight: 700;
  font-size: 9px;
  line-height: 12px;

  &-circle {
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    display: flex;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 17px;
    color: #FFFFFF;
    width: 16px;
    padding: 2px;
    height: 16px;
    background-color: #3FAF6F;
    border-radius: 100%;
    border: 1px solid #3FAF6F;
    align-items: center;
  }

  &-white {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;

    color: #FFFFFF;
  }

  &-gray {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;

    color: #5E5A5A;
  }
}

.progress-bar {
  width: 209px;
  height: 2px;
  overflow: hidden;
  background: #5E5A5A;
  border-radius: 2px;

  &__complete {
    width: 99.86px;
    height: 2px;

    background: #69F0A8;
  }
}

.background {
  background-color: rgba(255, 72, 88, 0.15);

  &-second {
    background-color: rgba(242, 135, 5, 0.15);
  }
}