@font-face {
  font-family: 'RedHatDisplayRegular';
  src: url('fonts/RedHatDisplayRegular.eot');
  src: url('fonts/RedHatDisplayRegular.eot') format('embedded-opentype'),
    url('fonts/RedHatDisplayRegular.woff2') format('woff2'),
    url('fonts/RedHatDisplayRegular.woff') format('woff'),
    url('fonts/RedHatDisplayRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplayMedium';
  src: url('fonts/RedHatDisplayMedium.eot');
  src: url('fonts/RedHatDisplayMedium.eot') format('embedded-opentype'),
    url('fonts/RedHatDisplayMedium.woff2') format('woff2'),
    url('fonts/RedHatDisplayMedium.woff') format('woff'),
    url('fonts/RedHatDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'RedHatDisplaySemiBold';
  src: url('fonts/RedHatDisplaySemiBold.eot');
  src: url('fonts/RedHatDisplaySemiBold.eot') format('embedded-opentype'),
    url('fonts/RedHatDisplaySemiBold.woff2') format('woff2'),
    url('fonts/RedHatDisplaySemiBold.woff') format('woff'),
    url('fonts/RedHatDisplaySemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatDisplayBold';
  src: url('fonts/RedHatDisplayBold.eot');
  src: url('fonts/RedHatDisplayBold.eot') format('embedded-opentype'),
    url('fonts/RedHatDisplayBold.woff2') format('woff2'),
    url('fonts/RedHatDisplayBold.woff') format('woff'),
    url('fonts/RedHatDisplayBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}